body {
  background-color: rgb(90, 74, 20);
  color: rgb(196, 167, 38);
}

#list {
  list-style: none;
  margin: auto;
  text-align: center;
  letter-spacing: 8px;
  font-size: 30px;
  font-weight: bold;
}

.cityList {
  margin: auto;
  width: 50%;
}
li {
  margin-top: 10px;
}
