* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(slider-love.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(6, 6, 88, 0.3);
  color: antiquewhite;
}
#city-list {
  font-size: 20px;
  cursor: pointer;
  margin-left: 90%;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 30vh;
  margin-bottom: 3vh;
}
#searchBox {
  display: flex;
  margin: auto;
  width: 60vh;
  justify-content: center;
}

#city {
  height: 7vh;
  width: 40vh;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
  text-align: center;
}

#search {
  height: 7vh;
  width: 15vh;
  border: none;
  border-radius: 3px;
  background-color: rgb(245, 170, 72);
  cursor: pointer;
  color: white;
  font-weight: bold;
}
#search,
#city:focus {
  outline: none;
}
#search:hover {
  background-color: rgb(185, 123, 42);
}
#result {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
a {
  text-align: center;
  margin-bottom: 2vh;
  font-size: 25px;
  color: beige;
  text-decoration: none;
  cursor: pointer;
}
